body {
  font-family: 'Play', sans-serif;
}

.container {
    margin: auto;
    border-radius: 25px;
    width: 320px;
    height: 480px;
    background-color: lightgrey;
    background-image: url("https://raw.githubusercontent.com/zumartic/calculator/master/calculator.jpg");
    box-shadow: 10px 10px 5px #888888;
}

.head { 
    width: 320px;
    height: 45px;  
    font-family: 'Shrikhand', cursive;
    text-shadow: 1px 1px black;
    color: yellow;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.display1 {  
    width: 320px;
    height: 45px; 
    font-size: 200%;
    font-weight: bold;
    margin-left: -5px;
    text-align: right;
}

.display2 { 
    width: 320px;
    height: 90px;
    position: relative;
}

#D2-content {
    width: 320px;
    font-size: 200%;
    word-wrap: break-word;
    font-weight: bold;
    text-align: right;
    margin-left: -1px;
    position:absolute;
    bottom: 0;
    right: 5px;
  }

.button-item {
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    font-size: 200%;
    font-weight: bold;
    color: yellow;
    opacity: 1;
    float: left;
    width: 80px;
    height: 50px;
    padding-top: 5px;
    text-align: center;
    text-shadow: 2px 2px black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
}

.button-item:hover {
    opacity: 0.6;
}

footer{
  margin-top: 20px;
  text-align: center;
}

footer .fa:hover{
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
  color: red;
}